<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <form action="" method="post">
      <input type="file" id="openFile" />
      <label id="coba"> text masuk </label>
    </form>
    <br />
    <pre id="FileContents"></pre>

    <h2><%= text %></h2>
    <h4>Encript : <span> <%= encrypted %></span></h4>
    <h4>Decript : <span><%= decrypted %></span></h4>

    <script type="text/javascript" src="app.js"></script>

    <script type="text/javascript">
      document.getElementById("coba").innerHTML = "oi";
    </script>
  </body>
</html>
